@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.body{
    background-image:  url(../../assets/huellas-agua.jpg);
    background-color: rgb(23, 160, 160);
    background-size: cover;
    position:absolute;
    height: 170vh;
    width: 200vh;
    margin-top: 0px;
    padding-top: 0%;

}

.head{
    background-position: center;
    font-family:'Major Mono Display', monospace ;
    color:rgb(240, 20, 20);
    text-shadow: 4px 3px 4px rgba(219, 235, 130, 0.603);
    font-size:30px;
    text-align:left;
    font-weight: normal; 
    margin-left: 5%;
}

.select{
    border-color:rgb(235, 8, 8);;
}

.Card {
    width: 40%;
    float: left;
    padding: 4em;
    border-radius: 10%  10% 3% 3%;
    align-items: center;
    position: relative;
    z-index: 1;

}
.divCards{
    /* background-image:  url(../../assets/huellas-agua.jpg); */
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(20px, auto);
    padding:5px;
    padding-bottom: 10px;

}

.cita{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 10px;
    color: rgb(204, 253, 27);
    margin-right: 5%;
    float:right;
    text-shadow: 4px 4px 4px rgba(230, 9, 9, 0.925);
    

}
.created{
    text-decoration: none;
    position:relative;
    padding: 5px;
    
}

.button{
    border-radius: 5px;
    background-color: rgb(199, 192, 192);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color:rgb(235, 8, 8);
}


.button:hover{
    background-color:rgb(125, 184, 240);
    cursor: pointer;
}

.filter{
    border:1px;
    border-color: black;
}



.pagination li{
    color: rgb(20, 4, 114);
    display:inline-flex;
    padding: 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background-color: #42263e83;
    border-radius: 10%;
    list-style:none;
    width: 10px;
    height: 10px;
    font-size: 12px;
    align-items: center;
}
.pagination:hover{
    transition: 0.8s;
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
    color: rgb(66, 2, 45);
}  
