
.button{
    border-radius: 5px;
    background-color: rgb(199, 192, 192);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    border-color:rgb(235, 8, 8); ;
}

.button:hover{
    background-color:rgb(125, 184, 240);
    cursor: pointer;
}

.placehold{
    border-color: rgb(235, 8, 8);
    padding:5px;
}